<div class="content-margin center">
  <div style="width: 400px">
    <p>My Youtube Collection allows you to create a personal library of your favorite videos
      and organise them via self-created tags. Please login to start using this site:</p>
    <div id="g_id_onload"
         data-client_id="1016912375337-7uhg06jqloqokfbh3fu5c86eqoj65279.apps.googleusercontent.com"
         data-context="signin"
         data-ux_mode="popup"
         data-callback="login"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>
  </div>
</div>
