<div class="editor-window">
  <button mat-icon-button aria-label="Close" (click)="finishEditing('Closed editor')">
    <mat-icon>close</mat-icon>
  </button>
  <div class="inner-editor-window">
    <mat-form-field class="input-field" (keyup.enter)="processYoutubeUrl()">
      <mat-label>Paste youtube URL here</mat-label>
      <input matInput [(ngModel)]="videoUrl">
    </mat-form-field>

    <div #videoEmbed></div>

    <form *ngIf="validUrl">
      <p class="input-label">Title</p>
      <p>{{video.title}}</p>

      <p class="input-label">Alternative title (optional)</p>
      <mat-form-field class="input-field">
        <mat-label>Enter alternative title</mat-label>
        <input matInput name="alternative-title" [(ngModel)]="video.alternativeTitle">
      </mat-form-field>
      <p class="input-label">Tags</p>


      <mat-form-field class="input-field">
        <mat-label>Select your tags, or a type a name and press enter to create a new one</mat-label>
        <mat-chip-grid #chipGrid aria-label="Tag selection">
          <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
            {{tag.text}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input #tagInput [formControl]="tagInputElement" placeholder="Enter tags..."
               #tagInputTooltip="matTooltip"
               [matTooltip]="tagInputTooltipText"
               matTooltipPosition="above"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addTag($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event.option.value)">
          <mat-option *ngFor="let tag of autocompleteTags | async" [value]="tag">
            {{tag.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="saveAll()" *ngIf="isSaving == false" class="bottom-right" mat-flat-button color="primary">Save</button>
      <mat-spinner class="bottom-right" [diameter]="30" *ngIf="isSaving"></mat-spinner>
    </form>
    <mat-error>{{error}}</mat-error>
  </div>
</div>
