<div style="width: 311px;">
  <div>
    <iframe width="311" height="177" [src]="videoUrl"
            title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
  </div>
  <mat-chip-listbox class="tags">
    <mat-chip *ngFor="let tag of video?.tags">{{tag.text}}</mat-chip>
  </mat-chip-listbox>
  <p class="video-info-row">{{video?.title}}</p>
  <p class="video-info-row video-text">{{video?.alternativeTitle}}</p>
  <p class="video-info-row video-text channel">{{video?.channel}}</p>
</div>
