:host {
  margin-left: 30px;
  height: 75%;
  padding: 5px;
  flex-grow: 3;
}

.input-field {
  width: 50%;
  height: 25px !important;
  align-self: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3px;
  background-color: white;
}

/deep/ .mat-mdc-text-field-wrapper {
  background-color: white;
}
