<div style="margin: auto">
  <app-search-info></app-search-info>

  <div>
    <app-video-editor (savedVideoEvent)="onFinishedEditingVideoEvent($event)" *ngIf="editingVideo"></app-video-editor>
  </div>

  <button (click)="addVideo()" class="float" mat-fab color="primary" aria-label="Add video" title="Add new video">
    <mat-icon>add</mat-icon>
  </button>

  <p><mat-error>{{error}}</mat-error></p>

  <div class="videos-container">
    <app-video class="video" *ngFor="let video of videos" [video]="video" [searchTags]="filter.tags"></app-video>
  </div>

  <br><br>

  <app-pagination></app-pagination>

  <div class="overlay" *ngIf="editingVideo" (click)="editingVideo = !editingVideo">
  </div>

</div>
