.float {
  position:fixed;
  bottom:100px;
  right:100px;
  z-index: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 800;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px); /* 350 px needs to be same size as video width in video.component.css */
  justify-content: space-between;
}

.video {
  margin-bottom: 15px;
}

.video:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
