<div style="margin: auto">
  <p>{{numberOfVideos}} videos found.</p>
  <div class="search-tags">
    <mat-chip-grid #chipGrid>
      <mat-chip-row highlighted *ngFor="let tag of filter.tags" (removed)="removeTag(tag)">
        {{tag.text}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>

    <!-- This invisible input is needed to prevent errors, the chip grid wants a chip input -->
    <input #tagInput style="display: none" [matChipInputFor]="chipGrid"/>
  </div>

  <div>
    <app-video-editor (savedVideoEvent)="onFinishedEditingVideoEvent($event)" *ngIf="editingVideo"></app-video-editor>
  </div>

  <button (click)="addVideo()" class="float" mat-fab color="primary" aria-label="Add video">
    <mat-icon>add</mat-icon>
  </button>

  <p><mat-error>{{error}}</mat-error></p>

  <div class="videos-container">
    <app-video class="video" *ngFor="let video of videos" [video]="video" [searchTags]="filter.tags"></app-video>
  </div>

  <br><br>
  <mat-paginator (page)="handlePageEvent($event)"
                 [pageIndex]="filter.page"
                 [length]="numberOfVideos"
                 [pageSize]="filter.pageSize"
                 [pageSizeOptions]="[8, 16, 32]"
                 [showFirstLastButtons]="true"
                 aria-label="Select page">
  </mat-paginator>

  <div class="overlay" *ngIf="editingVideo" (click)="editingVideo = !editingVideo">
  </div>

</div>
